.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    margin: 2rem 0;

    > button {
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      border: none;
      background: #7dd3fc;
      transition: all 0.3s;
      color: #e0f2fe;

      &:hover {
        background: #0ea5e9;
      }
    }
  }

  > section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
